# API
flask
waitress
flask-cors

####### TECHWEEK
langchain==0.0.184
PyPDF2==3.0.1
python-dotenv==1.0.0
openai==0.27.6
#faiss-cpu==1.7.4
#pinecone-client==2.2.2
chroma-hnswlib==0.7.1
chromadb
numpy
altair==4
tiktoken

# uncomment to use huggingface llms
#huggingface-hub==0.14.1

# uncomment to use instructor embeddings
#InstructorEmbedding==1.0.1
#sentence-transformers==2.2.2
