# API
flask
waitress
flask-cors

####### TECHWEEK
langchain==0.0.300
langchain-experimental==0.0.20
PyPDF2==3.0.1
aspose-words==23.9.0
python-dotenv==1.0.0
openai==0.28.0
anthropic==0.3.11
#faiss-cpu==1.7.4
#pinecone-client==2.2.2
# chroma-hnswlib==0.7.1
# chromadb
numpy
altair==4
tiktoken==0.5.1

neo4j==5.12.0

# uncomment to use huggingface llms
#huggingface-hub==0.14.1

# uncomment to use instructor embeddings
#InstructorEmbedding==1.0.1
#sentence-transformers==2.2.2
